/* ========= Colors ========= */
/* ========= Typography ========== */
/* ========= Navigation ========= */
.nav-container {
  position: relative;
  height: auto;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #004ab3;
  background: linear-gradient(90deg, #004ab3 0%, #006eb5 35%, #0089b6 100%);
  font-family: 'Montserrat', sans-serif;
  padding: 0px 0px 0px 15px;
  z-index: 10;
}
.nav-container .navigation {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  padding: 0px 0px 0px 15px;
}
.nav-container .navigation .logo-container {
  position: relative;
  flex-basis: 30%;
  padding: 35px 0px;
}
.nav-container .navigation .logo-container .logo {
  position: relative;
  display: block;
  max-width: 100%;
}
.nav-container .navigation .nav-right {
  position: relative;
  flex-basis: 70%;
  text-align: right;
}
.nav-container .navigation .nav-right ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.nav-container .navigation .nav-right ul li {
  display: inline-block;
  height: auto;
}
.nav-container .navigation .nav-right .upper-nav {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  top: 20px;
  left: 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: white;
  padding-bottom: 10px;
}
.nav-container .navigation .nav-right .upper-nav a {
  color: inherit;
  text-decoration: none;
}
.nav-container .navigation .nav-right .upper-nav ul {
  position: relative;
  padding: 0px;
}
.nav-container .navigation .nav-right .upper-nav ul li {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
}
.nav-container .navigation .nav-right .upper-nav ul li:after {
  content: '';
  position: absolute;
  top: 0px;
  margin-top: -10px;
  right: 0px;
  height: 45px;
  width: 1px;
  background: white;
  transform: rotate(24deg);
}
.nav-container .navigation .nav-right .upper-nav ul li:first-child {
  padding-left: 0px;
}
.nav-container .navigation .nav-right .upper-nav ul li:last-child:after {
  content: '';
  height: 0px;
  width: 0px;
  background-color: transparent;
}
.nav-container .navigation .nav-right .upper-nav ul .fab {
  font-size: 26px;
  position: relative;
  padding-left: 10px;
  top: 5px;
}
.nav-container .navigation .nav-right .lower-nav {
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
  bottom: 0px;
}
.nav-container .navigation .nav-right .lower-nav ul {
  position: absolute;
  display: inline-block;
  height: auto;
  width: auto;
  background: white;
  padding: 0px;
  margin: 0px;
  right: 0px;
  bottom: 0px;
}
.nav-container .navigation .nav-right .lower-nav ul a {
  color: inherit;
}
.nav-container .navigation .nav-right .lower-nav ul a:first-child {
  position: relative;
  display: inline-block;
}
.nav-container .navigation .nav-right .lower-nav ul a:first-child:before {
  content: '';
  position: absolute;
  margin-top: -29px;
  left: -30px;
  height: 75px;
  width: 75px;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-top: 30px solid transparent;
  border-bottom: 69px solid white;
  transition: all .25s;
}
.nav-container .navigation .nav-right .lower-nav ul a:first-child:hover:before {
  border-bottom-color: #2b3336;
}
.nav-container .navigation .nav-right .lower-nav ul li {
  position: relative;
  display: inline-block;
  height: auto;
  background: white;
  padding: 25px 30px 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: .1em;
  color: #004ab3;
  transition: all .25s;
}
.nav-container .navigation .nav-right .lower-nav ul li:hover {
  background: #2b3336;
  color: white;
  transform: skewX(-24deg);
  z-index: 3;
}
.nav-container .navigation .nav-right .lower-nav ul li:hover .text {
  position: relative;
  display: block;
  transform: skewX(24deg);
}
.nav-container .mega-menu {
  position: absolute;
  height: auto;
  width: 100vw;
  max-width: 1800px;
  left: 0px;
  background: #2b3336;
  padding: 20px;
  display: none;
}
@media (min-width: 1801px) {
  .nav-container .mega-menu {
    left: 50.35%;
    transform: translateX(-50%);
  }
}
.nav-container .mega-menu .close-mega {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #b2d2ff;
  transition: all .25s;
  z-index: 2;
}
.nav-container .mega-menu .close-mega:hover {
  cursor: pointer;
  color: white;
}
.nav-container .mega-menu .view-all {
  padding-bottom: 10px;
}
.nav-container .mega-menu h4 {
  position: relative;
  color: white;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
  z-index: 1;
}
.nav-container .mega-menu a {
  color: #b2d2ff;
  text-decoration: none;
  transition: all .25s;
  font-weight: 400;
}
.nav-container .mega-menu a:hover {
  color: white;
}
.nav-container .mega-menu ul {
  margin: 0px;
  padding: 0px 0px 20px;
  list-style: none;
}
.nav-container .mega-menu ul li {
  padding: 5px 0px;
}
.nav-container .mega-menu .services-menu,
.nav-container .mega-menu .about-menu {
  display: none;
}
/* ========= Hero Container ========= */
.hero-container {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  padding: 0px;
  background: black;
  overflow: hidden;
  z-index: 2;
}
.hero-container .owl-next {
  position: absolute;
  height: auto;
  width: auto;
  display: block;
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.hero-container .owl-next:hover {
  cursor: pointer;
}
.hero-container .owl-prev {
  position: absolute;
  height: auto;
  width: auto;
  display: block;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.hero-container .owl-prev:hover {
  cursor: pointer;
}
.hero-container .hero {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 2;
}
.hero-container .hero .item {
  position: relative;
  z-index: 1;
}
.hero-container .hero .item .text-container {
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
  top: 50%;
  left: 0px;
  text-align: center;
  color: white;
}
.hero-container .hero .owl-dots {
  position: absolute;
  bottom: 20px;
  display: inline-block;
  height: auto;
  width: auto;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}
.hero-container .hero .owl-dots .owl-dot {
  position: relative;
  display: inline-block;
  height: 13px;
  width: 13px;
  border: 2px solid white;
  background-color: transparent;
  transition: all .25s;
  margin: 0px 5px;
}
.hero-container .hero .owl-dots .owl-dot:hover {
  background-color: white;
}
.hero-container .hero .owl-dots .active {
  background-color: white;
}
/* ========= HP About Container ========= */
.hp-about {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.hp-about .about-img {
  position: relative;
  background: #444444;
  padding: 0px;
  z-index: 1;
  height: auto;
  width: 100%;
}
.hp-about .about-blurb {
  position: relative;
  background: white;
  z-index: 2;
  transform: skewX(-24deg);
}
.hp-about .about-blurb .watermark {
  position: absolute;
  top: -10px;
  left: 0px;
  z-index: 1;
  transform: skewX(24deg);
}
.hp-about .about-blurb .blurb-body {
  position: absolute;
  display: inline-block;
  width: 53%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(24deg);
  z-index: 2;
}
.hp-about .about-blurb .blurb-body h3 {
  font-family: 'Montserrat', sans-serif;
  color: #666666;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
}
.services-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: -100px 0px 0px;
  background: black;
  z-index: 2;
}
.services-container .service-box {
  position: relative;
  flex-basis: 25%;
}
@media (min-width: 1200px) {
  .services-container .service-box {
    width: 25vw;
    height: 25vw;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .services-container .service-box {
    width: 33.333vw;
    height: 33.333vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-container .service-box {
    width: 50vw;
    height: 50vw;
  }
}
@media (max-width: 767px) {
  .services-container .service-box {
    width: 100vw;
    height: auto;
  }
}
.hp-news {
  padding: 75px 0px;
  background: #333333;
}
.partners {
  padding: 75px 0px;
}
.hp-contact {
  padding: 75px 0px;
}
.footer-signup {
  padding: 75px 0px;
}
.footer-links {
  padding: 75px 0px;
}
/* ========= Globals ========== */
.more-link {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 16;
  color: #004ab3;
  text-decoration: none;
  border-bottom: 1px solid #004ab3;
}
.more-btn {
  height: 45px;
  width: auto;
  padding: 10px 25px;
  display: inline-block;
  background: #004ab3;
  transform: skewX(-24deg);
  color: white !important;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: all .25s;
}
.more-btn:hover {
  opacity: .8;
}
.more-btn .text {
  position: relative;
  transform: skewX(24deg);
}
