/* ========= Colors ========= */
@teal: #2b9cc2;
@blue: #004ab3;
@light-blue: #b2d2ff;
@gray: #2b3336;
@text-gray: #666666;
@char: #444444;
@dark-gray: #333333;

/* ========= Typography ========== */
@mont: 'Montserrat', sans-serif;
@sans: 'Open Sans', sans-serif;
@tilt: 24deg;

/* ========= Navigation ========= */
.nav-container{
	position:relative;
	height: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	background: rgb(0,74,179);
    background: linear-gradient(90deg, rgba(0,74,179,1) 0%, rgba(0,110,181,1) 35%, rgba(0,137,182,1) 100%);
	font-family: @mont;
	padding: 0px 0px 0px 15px;
	z-index: 10;
	.navigation{
		position: relative;
		width: 100%;
		max-width: 1800px;
		margin: 0 auto;
		display: flex;
		padding: 0px 0px 0px 15px;
		.logo-container{
			position: relative;
			flex-basis: 30%;
			padding: 35px 0px;
			.logo{
				position: relative;
				display: block;
				max-width: 100%;
			}
		}
		.nav-right{
			position: relative;
			flex-basis: 70%;
			text-align: right;
			ul{
				list-style: none;
				padding: 0px;
				margin: 0px;
				li{
					display: inline-block;
					height: auto;
				}
			}
			.upper-nav{
				position: relative;
				display: block;
				height: auto;
				width: 100%;
				top: 20px;
				left: 0px;
				font-size: 16px;
				line-height: 20px;
				font-weight: 400;
				color: white;
				padding-bottom: 10px;
				a{
					color: inherit;
					text-decoration: none;
				}
				ul{
					position: relative;
					padding: 0px;
					li{
						position: relative;
						padding-right: 15px;
						padding-left: 15px;
						margin-top: 10px;
						&:after{
							content: '';
							position: absolute;
							top: 0px;
							margin-top: -10px;
							right: 0px;
							height: 45px;
							width: 1px;
							background: white;
							transform: rotate(@tilt);
						}
						&:first-child{
							padding-left: 0px;
						}
						&:last-child{
							&:after{
								content: '';
								height: 0px;
								width: 0px;
								background-color: transparent;
							}
						}
					}
					.fab{
						font-size: 26px;
						position: relative;
						padding-left: 10px;
						top: 5px;
					}
				}
			}
			.lower-nav{
				position: absolute;
				display: block;
				height: auto;
				width: 100%; 
				bottom: 0px;
				ul{
					position: absolute;
					display: inline-block;
					height: auto;
					width: auto;
					background: white;
					padding: 0px;
					margin: 0px;
					right: 0px;
					bottom: 0px;
					a{
						color: inherit;
						&:first-child{
							position: relative;
							display: inline-block;
							&:before{
								content: '';
								position: absolute;
								margin-top: -29px;
								left: -30px;
								height: 75px;
								width: 75px;
								border-right: 30px solid transparent;
								border-left: 30px solid transparent;
								border-top: 30px solid transparent;
								border-bottom:69px solid white;
								transition: all .25s;
							}
							&:hover{
								&:before{
									border-bottom-color:@gray;
								}
							}
						}
					}
					li{
						position: relative;
						display: inline-block;
						height: auto;
						background: white;
						padding: 25px 30px 20px;
						text-transform: uppercase;
						font-size: 16px;
						font-family: @mont;
						font-weight: 700;
						letter-spacing: .1em;
						color: @blue;
						transition: all .25s;
						&:hover{
							background: @gray;
							color: white;
							transform: skewX(-@tilt);
							z-index: 3;
							.text{
								position:relative;
								display: block;
								transform: skewX(@tilt);
							}
						}
					}
				}
			}
		}
	}
	.mega-menu{
		position: absolute;
		height: auto;
		width: 100vw;
		max-width: 1800px;
		left: 0px;
		background: @gray;
		padding: 20px;
		display: none;
		@media(min-width:1801px){
			left: 50.35%;
			transform: translateX(-50%);
		}
		.close-mega{
			position: absolute;
			top: 20px;
			right: 30px;
			color: @light-blue;
			transition: all .25s;
			z-index: 2;
			&:hover{
				cursor: pointer;
				color: white;
			}
		}
		.view-all{
			padding-bottom: 10px;
		}
		h4{
			position: relative;
			color: white;
			font-weight: 700;
			font-style: italic;
			text-transform: uppercase;
			font-size: 20px;
			z-index: 1;
		}
		a{
			color: @light-blue;
			text-decoration: none;
			transition: all .25s;
			font-weight: 400;
			&:hover{
				color: white;
			}
		}
		ul{
			margin: 0px;
			padding: 0px 0px 20px;
			list-style: none;
			li{
				padding: 5px 0px;
			}
		}
		.services-menu, .about-menu{
			display: none;
		}
	}
}


/* ========= Hero Container ========= */
.hero-container{
	position: relative;
	display: block;
	height: auto;
	width: 100%;
	padding: 0px;
	background: black;
	overflow: hidden;
	z-index: 2;
	.owl-next{
		position: absolute;
		height: auto;
		width: auto;
		display: block;
		right: -70px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 3;
		&:hover{
			cursor: pointer;
		}
	}
	.owl-prev{
		position: absolute;
		height: auto;
		width: auto;
		display: block;
		left: -70px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 3;
		&:hover{
			cursor: pointer;
		}
	}
	.hero{
		position: relative;
		height: auto;
		width: 100%;
		z-index: 2;
		.item{
			position: relative;
			z-index: 1;
			.text-container{
				position: absolute;
				display: block;
				height: auto;
				width: 100%;
				top: 50%;
				left: 0px;
				text-align: center;
				color: white;
			}
		}
		.owl-dots{
			position: absolute;
			bottom: 20px;
			display: inline-block;
			height: auto;
			width: auto;
			z-index: 2;
			left: 50%;
			transform: translateX(-50%);
			.owl-dot{
				position: relative;
				display: inline-block;
				height: 13px;
				width: 13px;
				border: 2px solid white;
				background-color: transparent;
				transition: all .25s;
				margin: 0px 5px;
				&:hover{
					background-color: white;
				}
			}
			.active{
				background-color: white;
			}
		}
	}
}

/* ========= HP About Container ========= */
.hp-about{
	position: relative;
	height: auto;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	.about-img{
		position: relative;
		background: @char;
		padding: 0px;
		z-index: 1;
		height: auto;
		width: 100%;
		.img{
		}
	}
	.about-blurb{
		position: relative;
		background: white;
		z-index: 2;
		transform: skewX(-@tilt);
		.watermark{
			position: absolute;
			top: -10px;
			left: 0px;
			z-index: 1;
			transform: skewX(@tilt);
		}
		.blurb-body{
			position: absolute;
			display: inline-block;
			width: 53%;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) skewX(@tilt);
			z-index: 2;
			h3{
				font-family: @mont;
				color: @text-gray;
				font-size: 28px;
				font-weight: 600;
				font-style:italic;
			}
		}
	}
}

.services-container{
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	margin: -100px 0px 0px;
	background: black;
	z-index: 2;
	.service-box{
		position: relative;
		flex-basis: 25%;
		@media(min-width:1200px){
			width:25vw;
			height: 25vw;
		}
		@media(min-width:992px) and (max-width:1199px){
			width:33.333vw;
			height: 33.333vw;
		}
		@media(min-width:768px) and (max-width:991px){
			width: 50vw;
			height: 50vw;
		}
		@media(max-width:767px){
			width: 100vw;
			height: auto;
		}
	}
}

.hp-news{
	padding: 75px 0px;
	background: @dark-gray;
}

.partners{
	padding: 75px 0px;
}

.hp-contact{
	padding: 75px 0px;
}

.footer-signup{
	padding: 75px 0px;
}

.footer-links{
	padding: 75px 0px;
}

/* ========= Globals ========== */
.more-link{
	font-family: @mont;
	text-transform: uppercase;
	font-size: 16;
	color: @blue;
	text-decoration: none;
	border-bottom: 1px solid @blue;
}
.more-btn{
	height: 45px;
	width: auto;
	padding: 10px 25px;
	display: inline-block;
	background: @blue;
	transform: skewX(-@tilt);
	color: white !important;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	transition: all .25s;
	&:hover{
		opacity: .8;
	}
	.text{
		position: relative;
		transform:skewX(@tilt);
	}
}